@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: "Audiowide", "Verdana";
  font-size: 1.6rem;
  color: white;
  height: 100%;
  background: black;
}

canvas {
  font-family: "Audiowide", "Verdana";
  border: 1px solid #d3d3d3;
  background-color: #bbbbbb;
  cursor: pointer;
}
@media (max-width: 1279px) {
  canvas {
    cursor: none;
  }
}

button {
  width: 150px;
  height: 50px;
  font-family: "Audiowide", "Verdana";
  outline: none;
  cursor: pointer;
  background-color: black;
  border: 2px solid white;
  color: white;
}
@media (max-width: 1279px) {
  button {
    cursor: none;
  }
}
button:hover {
  transform: scale(1.05);
}
@media (max-width: 1279px) {
  button:hover {
    transform: none;
  }
}
button:active {
  transform: scale(0.95);
}

.close-button {
  height: 28px;
  width: 28px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .close-button {
    height: 14px;
    width: 14px;
  }
}
.close-button::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 5px;
  border-radius: 2px;
  background-color: white;
  width: 36px;
  top: 13px;
  left: -4px;
  transform: rotate(45deg);
}
@media (max-width: 767px) {
  .close-button::before {
    width: 19px;
    top: 6px;
    left: -2px;
    height: 2px;
  }
}
.close-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 5px;
  color: white;
  border-radius: 2px;
  background-color: white;
  width: 36px;
  bottom: 10px;
  left: -4px;
  transform: rotate(135deg);
}
@media (max-width: 767px) {
  .close-button::after {
    width: 19px;
    bottom: 6px;
    left: -2px;
    height: 2px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}

.wrapper {
  height: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1279px) {
  .wrapper {
    max-width: 768px;
    margin: auto;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-width: 320px;
    margin: auto;
    justify-content: space-around;
  }
}

.overlay__button {
  position: relative;
  margin-bottom: 20px;
}
.overlay__button:hover {
  transform: scale(1.3);
}

.overlay__message {
  max-width: 500px;
}
@media (max-width: 767px) {
  .overlay__message {
    max-width: 250px;
  }
}
.overlay__message h1 {
  text-align: center;
  font-size: 5rem;
}
@media (max-width: 767px) {
  .overlay__message h1 {
    font-size: 2rem;
  }
}

.sound {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.sound-state {
  margin-top: 5px;
  cursor: pointer;
}
.sound-state:hover {
  transform: scale(1.3);
}

.colors {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.colors h1 {
  margin-bottom: 10px;
}

.color {
  width: 30px;
  height: 15px;
  border: 2px solid white;
  cursor: pointer;
}
.color:hover {
  transform: scale(1.3);
}

.black {
  background-color: #000000;
}

.red {
  background-color: #710000;
}

.blue {
  background-color: #000058;
}

.green {
  background-color: #002a00;
}

.gray {
  background-color: #363636;
}

.current-color {
  transform: scale(1.3);
  border: 3px solid white;
}

.color__list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.sizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.size {
  cursor: pointer;
}
.size:hover {
  transform: scale(1.3);
}

.current-size {
  text-decoration: underline;
  transform: scale(1.3);
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results h1 {
  margin-bottom: 10px;
}

.results__container {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  min-width: 300px;
}
@media (max-width: 767px) {
  .results__container {
    -moz-column-gap: 5px;
         column-gap: 5px;
    font-size: 1.4rem;
  }
}

.results__places {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results__moves {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
}

.results__times {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results__dates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 10px;
  align-items: center;
}
@media (max-width: 1279px) {
  .buttons {
    margin: 100px 0 50px;
    flex-direction: row;
    padding: 0 50px;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .buttons {
    margin: 50px 0 0;
    padding: 0 10px;
  }
}

.game__wrapper {
  margin: 10px;
}

.game-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
@media (max-width: 1279px) {
  .game-stats {
    margin: 10px 0 50px;
    flex-direction: row;
    padding: 0 50px;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .game-stats {
    margin: 20px 0 20px;
    padding: 0 10px;
  }
}

.current-game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
}
@media (max-width: 1279px) {
  .current-game {
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}
@media (max-width: 767px) {
  .current-game {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}

.moves {
  width: 150px;
}
@media (max-width: 767px) {
  .moves {
    width: auto;
  }
}

.time {
  width: 150px;
}
@media (max-width: 767px) {
  .time {
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */