.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px 10px;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  @include tablet {
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px 10px;
  }
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: row;
    gap: 10px 30px;
  }
}

.game-field {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    width: 100%;
    height: auto;
  }

  .puzzle {
    box-shadow: 0 0 20px 1px rgba(var(--color-accent-rgb), 0.5);
    max-width: 700px;
    border-radius: 13px;
    border: 1px solid var(--color-accent);
    width: 80%;
    background-color: var(--color-accent);
    cursor: pointer;
    user-select: none;

    @include touch-screen {
      cursor: auto;
    }

    @include tablet {
      max-width: 500px;
      width: 80%;
      border-radius: 15px;
    }

    @include mobile {
      width: 100%;
      border-radius: 15px;
    }
  }
}

.game-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  @include tablet {
    max-width: 500px;
    width: 500px;
    flex-direction: row;
  }

  @include mobile {
    width: 90%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;

  .popup {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .close-button {
      align-self: flex-end;
    }

    @include mobile {
      font-size: 1.8rem;
    }
  }

  .popup-message {
    text-align: center;
    font-weight: 2.2rem;
    width: 500px;

    @include mobile {
      font-weight: 1.6rem;
      width: 300px;
    }
  }
}

.configs {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mobile {
    width: 300px;
  }

  .config {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .sound-state,
  .theme-state {
    cursor: pointer;
  }
}

.results {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mobile {
    font-size: 1.4rem;
  }

  .results-title {
    text-align: center;
  }

  .results-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .results-list-heading,
  .result {
    font: inherit;
    display: flex;
    align-items: center;

    div {
      text-align: center;
    }

    .result-place,
    .places__heading {
      width: 50px;
      @include mobile {
        width: 30px;
      }
    }

    .result-moves,
    .moves__heading {
      width: 90px;

      @include mobile {
        width: 55px;
      }
    }
    .result-time,
    .times__heading {
      width: 150px;

      @include mobile {
        width: 85px;
      }
    }
    .result-date,
    .dates__heading {
      width: 200px;
      @include mobile {
        width: 130px;
      }
    }
  }
}
