* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --color-primary: #5f9ea0;
  --color-primary-rgb: 95, 158, 160;
  --color-accent: #f0fff0;
  --color-accent-rgb: 240, 255, 240;
}

[data-theme='dark'] {
  --color-primary: #2f4f4f;
  --color-primary-rgb: 47, 79, 79;
  --color-accent: #b1cab1;
  --color-accent-rgb: 177, 202, 177;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Audiowide', sans-serif;
  font-size: 1.6rem;
  color: var(--color-accent);
  background: var(--color-primary);
}

p,
span,
button,
canvas,
select {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden {
  display: none !important;
}

.button {
  font: inherit;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: var(--color-primary);
  color: var(--color-accent);
  outline: none;
  border: 2px solid var(--color-accent);
  cursor: pointer;
  transition: transform 0.1s linear;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 1px rgba(var(--color-accent-rgb), 0.5);
  }

  &:active {
    transform: scale(0.95);
  }

  @include touch-screen {
    cursor: auto;
  }

  @include tablet {
    width: 100px;
  }
}

.close-button {
  border: none;
  outline: none;
  position: relative;
  background-color: transparent;
  height: 28px;
  width: 28px;
  cursor: pointer;
  user-select: none;

  @include mobile {
    height: 14px;
    width: 14px;
  }

  &::before {
    content: '';
    position: absolute;
    height: 5px;
    border-radius: 5px;
    background-color: var(--color-accent);
    width: 37.5px;
    top: -1px;
    left: 2.5px;
    transform-origin: top left;
    transform: rotate(45deg);

    @include mobile {
      width: 19px;
      top: -0.5px;
      left: 1px;
      height: 2px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    height: 5px;
    color: var(--color-accent);
    border-radius: 5px;
    background-color: var(--color-accent);
    width: 37.5px;
    top: -1px;
    right: 2.5px;
    transform-origin: top right;
    transform: rotate(-45deg);

    @include mobile {
      width: 19px;
      top: -0.5px;
      right: 1px;
      height: 2px;
    }
  }

  &:hover {
    &::after,
    &::before {
      box-shadow: 0 0 20px 1px rgba(var(--color-accent-rgb), 0.5);
    }
  }
}

select {
  border: 2px solid var(--color-accent);
  border-radius: 10px;
  outline: none;
  height: 35px;
  font: inherit;
  cursor: pointer;
  color: var(--color-accent);
  background-color: var(--color-primary);
}
