.buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 10px;
  align-items: center;

  @include media-tablet {
    margin: 100px 0 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 33px;
  }

  @include media-mobile {
    margin: 50px 0 10px;
    padding: 0 10px;
    column-gap: 2px;
  }
}

.game__wrapper {
  margin: 10px;
  @include media-mobile {
    margin: 30px 10px 10px;
  }
}

.game-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  @include media-tablet {
    margin: 10px 0 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 33px;
  }
  @include media-mobile {
    margin: 20px 0 20px;
    padding: 0 10px;
  }
}

.current-game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  @include media-tablet {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 100px;
  }
  @include media-mobile {
    column-gap: 10px;
  }
}
.moves {
  width: 150px;
  @include media-mobile {
    width: auto;
  }
}
.time {
  width: 150px;
  @include media-mobile {
    width: auto;
  }
}

.results-button {
  @include media-mobile {
    width: 73.5px;
  }
}