html {
  font-size: 10px;
}

body {
  font-family: 'Audiowide';
  font-size: 1.6rem;
  color: $color-additional;
  background: $color-primary;
}

canvas {
  border: 1px solid #d3d3d3;
  background-color: #bbbbbb;
  cursor: pointer;
  @include media-tablet {
    cursor: auto;
  }
}

button {
  width: 150px;
  height: 50px;
  font-family: 'Audiowide';
  outline: none;
  cursor: pointer;
  background-color: $color-primary;
  border: 2px solid $color-additional;
  color: $color-additional;
  @include media-tablet {
    cursor: auto;
  }
  &:hover {
    transform: scale(1.05);
    @include media-tablet {
      transform: none;
    }
  }
  &:active {
    transform: scale(0.95);
  }
}