// Close Button
.close-button {
  height: 28px;
  width: 28px;
  cursor: pointer;
  @include media-mobile {
    height: 14px;
    width: 14px;
  }

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 5px;
    border-radius: 2px;
    background-color: $color-additional;
    width: 36px;
    top: 13px;
    left: -4px;
    transform: rotate(45deg);
    @include media-mobile {
      width: 19px;
      top: 6px;
      left: -2px;
      height: 2px;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 5px;
    color: $color-additional;
    border-radius: 2px;
    background-color: $color-additional;
    width: 36px;
    bottom: 10px;
    left: -4px;
    transform: rotate(135deg);
    @include media-mobile {
      width: 19px;
      bottom: 6px;
      left: -2px;
      height: 2px;
    }
  }
}