$color-primary: black;
$color-additional: white;

$desktop-width: 1920px;
$content-width-desktop: 1280px;

$tablet-width: 1279px;
$content-width-tablet: 768px;

$mobile-width: 767px;
$content-width-mobile: 320px;